<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SauceUsername" value="centralsystems_QA"/>
    <add key="SauceAccessKey" value="5e9e8805-fee3-4139-9e77-1d0ebc89723a"/>
    <add key="SauceUri" value="http://ondemand.saucelabs.com:80/wd/hub"/>
    <add key="BrowserList" value="chrome|iexplore" />
    <add key="chrome" value="45,Windows 7|45,Windows 10" />
    <add key="iexplore" value="11,Windows 10" />
    <add key="firefox" value="" />
    <add key="DeviceName" value="" />
    <add key="DeviceOrientation" value="" />
    <add key="TestBrowser" value="iexplore" />
    <add key="TestVersion" value="11" />
    <add key="TestOS" value="Windows 10" />
  </appSettings>
</configuration>