<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.0.0" targetFramework="net452" />
  <package id="NUnit.Console" version="3.0.0" targetFramework="net452" />
  <package id="NUnit.ReSharperRunner2" version="2.6.408" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.0.0" targetFramework="net452" />
  <package id="OctoPack" version="3.0.45" targetFramework="net452" developmentDependency="true" />
  <package id="Selenium.WebDriver" version="2.48.2" targetFramework="net452" />
</packages>